absl-py==0.9.0
astor==0.8.1
backcall==0.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
configparser==5.0.0
cycler==0.10.0
decorator==4.4.0
disentanglement-lib==1.4
docker-pycreds==0.4.0
filelock==3.0.10
future==0.18.2
gast==0.3.3
gdown==3.8.1
gin-config==0.3.0
gitdb==4.0.4
GitPython==3.1.1
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
grpcio==1.30.0
h5py==2.10.0
idna==2.8
imageio==2.8.0
importlib-metadata==1.7.0
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.0.1
Markdown==3.2.2
matplotlib==3.0.3
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.16.2
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.0.1.24
pandas==0.25.1
parso==0.4.0
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.7.4
pyparsing==2.4.0
python-dateutil==2.8.0
pytorch-ignite==0.3.0
pytz==2019.2
PyYAML==5.3.1
pyzmq==18.0.1
requests==2.21.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
sentry-sdk==0.14.3
shortuuid==1.0.1
simplejson==3.17.0
six==1.12.0
smmap==3.0.2
subprocess32==3.5.4
tabulate==0.8.3
tensorboard==1.14.0
tensorboardX==2.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-hub==0.8.0
tensorflow-probability==0.7.0
termcolor==1.1.0
torch==1.4.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.2
tornado==6.0.2
tqdm==4.19.9
traitlets==4.3.2
urllib3==1.24.1
visdom==0.1.8.8
wandb==0.8.36
watchdog==0.10.2
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
